* {
    margin: 0 auto;
    padding: 0;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #333330;
    height: 100vh;
}
.image {
    align-items: center;
}
  
#cn-container {
    padding: 10px;
    background-color: #d53f3f;
    min-height: 200px;
    max-width: 600px;
    border-radius: 12px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
  
#clickMe {
    width: 200px;
    height: 50px;
    background-color: #333332;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 1px black;
}

  #clickMe:hover {
    cursor: pointer;
}