* {
    margin: 0 auto;
    padding: 0;
}

.container-fluid {
    background-image: url(./Chuck.webp);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-box {
    margin-top: 20px;
}

#joke-container {
    width: 400px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.joke-text {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.button-box {
    height: 20px;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*
.button {
    background-color: #2468cf;
    color: white;    
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    padding: 1px;
}







